## IMPORT

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## FUNCTIONS

In [ ]:

def read_sql(db_name, execution):
    con = sqlite3.connect(db_name)
    cur = con.cursor()
    query = execution
    cur.execute(query)
    
    for row in cur.execute(execution):
        print(row)
    con.close()

def read_sql_pandas(db_name, execution):
    con = sqlite3.connect(db_name)
    df = pd.read_sql_query(execution, con, index_col=None)
    con.close()
    return df

## MANIPULATION WITH FILES AND DATA

In [ ]:
db_name = 'billboard-200.db'

execution = '''
SELECT * 
FROM albums 

GROUP BY date 

'''