## IMPORT

In [6]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from zipfile import ZipFile

## FUNCTIONS

In [ ]:

def read_sql(db_name, execution):  #read SQL without PANDAS
    con = sqlite3.connect(db_name)
    cur = con.cursor()
    query = execution
    cur.execute(query)
    
    for row in cur.execute(execution):
        print(row)
    con.close()

def read_sql_pandas(db_name, execution): #read SQL with PANDAS
    con = sqlite3.connect(db_name)
    df = pd.read_sql_query(execution, con, index_col=None)
    con.close()
    return df

## MANIPULATION WITH SQL

In [ ]:
#SELECT STATEMENTS FOR SQL SCHEMA

# db_name = 'billboard-200.db'

# execution = '''
# SELECT * 
# FROM albums 

# GROUP BY date 

# '''

## READ DATA FROM ZIP AND CLEANING

In [12]:
# file_path = 'C:/Users/eduard.vlasov/Documents/GitHub/BDD/sql_schema/DATA/SEM-GTFS.zip'
# with ZipFile(file_path, 'r') as zip_ref:
#     zip_ref.extractall('C:/Users/eduard.vlasov/Documents/GitHub/BDD/sql_schema/DATA/unzipped')

In [24]:
file_path_unzipped = 'C:/Users/eduard.vlasov/Documents/GitHub/BDD/sql_schema/DATA/unzipped/'
data_agency = pd.read_csv(file_path_unzipped+"agency.txt", sep=",") 
data_route  = pd.read_csv(file_path_unzipped+"routes.txt", sep=",")

In [26]:
data_route.head()

,agency_id,route_id,route_short_name,route_long_name,route_type,route_color,route_text_color
0,SEM,1,C1,GRENOBLE Cité Jean Macé / MEYLAN Maupertuis / ...,3,F5D24D,000000
1,SEM,2,C2,GRENOBLE Louise Michel / CLAIX Pont Rouge,3,F5D24D,000000
2,SEM,3,C3,GRENOBLE Victor Hugo / ÉCHIROLLES Centre du Gr...,3,F5D24D,000000
3,SEM,4,C4,GRENOBLE Victor Hugo / EYBENS Le Verderet,3,F5D24D,000000
4,SEM,5,C5,GRENOBLE Palais de Justice - Gare / GIÈRES Uni...,3,F5D24D,000000